
<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Dolor sit molestias soluta ipsam? Dicta aliquid quae labore. Et in tempora perspiciatis 
            quam aperiam nesciunt cum fuga? Quae, voluptatibus! Dolorem, iure.
        </p>
    </div>
</section>