
<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Illo, dolorem commodi culpa perspiciatis ea, necessitatibus 
        libero facilis autem ducimus inventore iste quia 
        ratione doloremque accusantium harum aliquam doloribus nam sapiente?
    </p>
    <hr class="my-4">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Fuga suscipit eligendi, laborum voluptatibus quasi est 
        voluptatum repellendus saepe, odio modi ab quibusdam. 
        Assumenda dolore, eveniet voluptates perspiciatis 
        fugit delectus mollitia!
    </p>
    <a href="https://www.faztweb.com" class="btn btn-success">FaztWeb</a>
</div>