<div class="jumbotron">
    <h1 class="display-4">Typescript App</h1>
    <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Ipsum natus ipsa excepturi quibusdam nemo quia?
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Ipsum natus ipsa excepturi quibusdam nemo quia?
    </p>
    <a href="#" class="btn btn-success btn-lg">
        Task List
    </a>
</div>